.home_hero_section {
    width: 100%;
    height: 100vh;
    background: url("../images/carpenter.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_title {
    font-size: 48px;
    font-weight: 400;
    padding: 24px;
    color: white;
}

.home_title h1 {
    font-family: Ultra, sans-serif;
}

.main_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_title span {
    display: block;
}

.main_title .text_stroke {
    -webkit-text-stroke: 2px white;
    color: transparent;
}