.Parallax_section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-snap-align: center;
  perspective: 500px;
}

.Parallax_section > div {
  width: 40%;
  height: 60%;
  position: relative;
  max-height: 70vh;
  margin: 20px;
  background: var(--white);
  overflow: hidden;
}

.Parallax_section > h2 {
  font-family: Ultra, sans-serif;
  color: transparent;
  -webkit-text-stroke: 2px #163F5F;
  font-size: 24px;
}

.Parallax_section img {
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  /*right: 0;*/
  /*bottom: 0;*/
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: blue;
  bottom: 100px;
}