.home_hero_section {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../assets/images/carpentry_black_white.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home_title, .home_about span {
  font-size: 48px;
  font-weight: 400;
  padding: 24px;
  color: white;
  display: flex;
  flex-direction: column;
  /*gap: 48px;*/
  align-items: center;
  justify-content: center;
}

.home_title h1, .home_about span {
  font-family: Ultra, sans-serif;
}

.main_container_contact{
  position: absolute;
  bottom: 60px;
}

.main_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_title span {
  display: block;
}

.main_title .text_stroke {
  -webkit-text-stroke: 2px white;
  color: transparent;
}

.home_about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.home_about h1 {
  color: #163F5F;
  font-family: Ultra, sans-serif;
  font-size: 24px;
  padding: 24px;
}

.home_about span {
  word-break: break-word;
  text-align: center;
  padding: 24px;
  color: #163F5F;
}

.home_about .text_stroke {
  color: transparent;
  -webkit-text-stroke: 2px #163F5F;
}