@import url('https://fonts.googleapis.com/css2?family=Ultra&family=Work+Sans:wght@600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Ultra&family=Work+Sans:wght@600;800&display=swap');

@import "tailwindcss";

/* Styles globaux utiles, pas un reset complet */
html, body {
  height: 100%;
}

body {
  overflow-x: hidden;
}